.wrapper

  = render 'devise/shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          SEM
        %ul.left-header__members
          Members :
          %li.member
            \: minami
      .right-header
        = link_to "Edit", "path", class: "right-header__button"
