@import "_variable.scss"; /*変数*/

/*.notification {
  background-color: #38AEF0;
  text-align: center;
  color: #FFF;
}*/

.wrapper {
  display: flex;
}

.side-bar {
  box-sizing: border-box;
  width: 300px;
  color: #fff;
  display: $i-b;
  .header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: $i-b;
      font-size: 16px;
      font-weight: bold;
    }
    &__lists {
      display: $i-b;
      float: $r;
      margin: 0;
      padding: 0;
      .list{
        display: $i-b;
      }
      .icon {
        font-size: 16px;
        color: $l-gray;
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
    }
    .group__name {
      color: $l-gray;
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
    .group__message {
      color: $l-gray;
      font-size: 11px;
      margin-top: 5px;
    }
  }
}

.chat {
  width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: $l;
      &__title {
        font-size: 20px;
        margin-top: 35px;
        color: #333;
      }
      &__members {
        display: flex;
        font-size: 12px;
        margin: 15px;
        color: #999999;
        margin: 0;
        padding: 0;
        .member {
          display: $i-b;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $l-blue;
      color: $l-blue;
      float: $r;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        color: $l-blue;
        text-decoration: none;
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0;
    .message {
      margin-bottom: 40px;
      .upper-message {
        display: flex;
        &__user-name {
          color: $d-gray;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
        .lower-message {
          margin-top: 10px;
        }
        &__content {
          color: $d-gray;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .form {
    background-color: #DDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      box-sizing: border-box;
      float: $l;
      height: 50px;
      padding: 0 10px;
      width: calc(100% - 150px)
    }
    &__mask {
      background-color: $l-gray;
      float: $l;
      height: 50px;
      padding-right: 10px;
      .hidden {
        display: none;
      }
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    }
    &__submit {
      background-color: $l-blue;
      border: none;
      color: $l-gray;
      float: $r;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px 0 30px;
    }
  }
}

.fa {
  display: $i-b;
  font: normal normal normal 14px/1
  FontAwensome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

